APP_NAME=iu_parsers
ENVIRONMENT=LOCAL

POSTGRES_USER=iu_parsers
POSTGRES_PASSWORD=password
POSTGRES_HOST=app_db
POSTGRES_PORT=5432
POSTGRES_DB=iu_parsers

CROSSREF_EMAIL=t.bektleuov@innopolis.university
